build/
dns-server/src/github.com/sahirug/.idea
dns-server/.idea/encodings.xml
dns-server/.idea/dns-server.iml
dns-server/.idea/misc.xml
dns-server/.idea/modules.xml
dns-server/.idea/vcs.xml
dns-server/.idea/workspace.xml
